<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  </head>
  <body>

  <form action="/team">
      <label for="name">name</label>
      <input type='text' id='name'/>
      <br/>

      <label for="coach">coach</label>
      <input type='text' id='coach'/>
      <br/>

      <label for="Point Guard">Point Guard</label>
      <input type='text' id='pg'/>
      <br/>

      <label for="Shooting Guard">Shooting Guard</label>
      <input type='text' id='sg'/>
      <br/>

      <label for="Point Forward">Point Forward</label>
      <input type='text' id='pf'/>
      <br/>

      <label for="Small Forward">Small Forward</label>
      <input type='text' id='sf'/>
      <br/>

      <label for="Center">Center</label>
      <input type='text' id='c'/>
      <br/>
      <input type='Submit' id='Submit' title='Submit' value='submit'/>
  </form>
 </body>
</html>
